<div class="row">
  <div class="col-sm-6">
    <br>
    <h1>Ramus.je / evidenční listy</h1>
    <h2>Přihlášení</h2>

    <%= form_for :signin, method: "POST", role: "form" do |f| %>

    <div class="form-group">
      <%= f.label :username, 'uživatelské jméno' %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :username, :autofocus => true, class: "form-control" %>  
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :password, 'heslo' %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Vstupte", class: "btn btn-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
      <h6>Při jakýchkoliv problémech pište na <a href="mailto:jirka.richter@ramus.je?subject=evidence klientů">jirka.richter@ramus.je</a>.</h6>
      </div>
    </div>
    <% end %>


  </div>
</div>