<%= form_for(@history) do |f| %>
  <% if @history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% @history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :object_name %><br>
    <%= f.text_field :object_name %>
  </div>
  <div class="field">
    <%= f.label :object_id %><br>
    <%= f.number_field :object_id %>
  </div>
  <div class="field">
    <%= f.label :attribute_name %><br>
    <%= f.text_field :attribute_name %>
  </div>
  <div class="field">
    <%= f.label :before_value %><br>
    <%= f.text_field :before_value %>
  </div>
  <div class="field">
    <%= f.label :after_value %><br>
    <%= f.text_field :after_value %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
