<h1>Listing histories</h1>

<table id='histtable' class="table table-striped">
  <thead>
    <tr>
      <th>Čas změny</th>
      <th>Změněn</th>
      <th>Změněný atribut</th>
      <th>Hodnota před</th>
      <th>Hodnota po</th>
      <th>Změnil</th>
      <th>smaž</th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
    
    <tr>

      <% if history.updated_at? %>
      <td><%= history.updated_at.strftime('%Y-%m-%d, %H:%M:%S') %></td>
      <% else %>
      <td><%= history.created_at %></td>
      <% end %>

      <% if history.object_id? %>
      <% case history.object_name %>
      <% when 'Osoba' %>
      <td><%= Osoba.find(history.object_id).jmeno + ' ' + Osoba.find(history.object_id).prijmeni %></td>
      <% when 'Klient' %>
      <td><%= Osoba.find(Klient.find(history.object_id).osoba_id).jmeno + ' ' + Osoba.find(Klient.find(history.object_id).osoba_id).prijmeni %></td>
      <% when 'KontaktniOsoba' %>
      <td><%= Osoba.find(Klient.find(KlientsKontaktniOsoba.find(KontaktniOsoba.find(history.object_id).id).klient_id).osoba_id).jmeno + ' ' + Osoba.find(Klient.find(KlientsKontaktniOsoba.find(KontaktniOsoba.find(history.object_id).id).klient_id).osoba_id).prijmeni %></td>
      <% when 'Lek' %>
      <td><%= Osoba.find(Klient.find(Lek.find(history.object_id).klient_id).osoba_id).jmeno + ' ' + Osoba.find(Klient.find(Lek.find(history.object_id).klient_id).osoba_id).prijmeni %></td>
      <% when 'ZajemOInformace' %>
      <td><%= Osoba.find(Klient.find(ZajemOInformace.find(history.object_id).klient_id).osoba_id).jmeno + ' ' + Osoba.find(Klient.find(ZajemOInformace.find(history.object_id).klient_id).osoba_id).prijmeni %></td>
      <% else %>
      <td><%= history.object_name + ' ' + history.object_id.to_s %>
        <% end %>
        <% else %>
        <td></td>
        <% end %>

        <td><%= history.attribute_name %></td>
        <td><%= history.before_value %></td>
        <td><%= history.after_value %></td>
        <td><%= User.find(history.user_id).username %></td>
        <td class='center'><%= link_to "\u2715", history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New History', new_history_path %>
