<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @history.object_name %>
</p>

<p>
  <strong>Object:</strong>
  <%= @history.object_id %>
</p>

<p>
  <strong>Attribute name:</strong>
  <%= @history.attribute_name %>
</p>

<p>
  <strong>Before value:</strong>
  <%= @history.before_value %>
</p>

<p>
  <strong>After value:</strong>
  <%= @history.after_value %>
</p>

<p>
  <strong>User:</strong>
  <%= @history.user %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
