/*
 * Overwritten by RailsBricks
 *
 *= require_self
 *= require dataTables/jquery.dataTables
 */
@import "framework_and_overrides";

textarea#klient_podoba_epileptickeho_zachvatu, textarea#klient_diagnoza,
textarea#klient_alergie, textarea#klient_popis_projevu_diagnozy_a_instrukce_k_zachazeni_s_klientem,
textarea#klient_denni_rezim {
  width: 100%;
}

.right-align {
	text-align: right;
	margin-top: auto;
	/*font-size: 200px;*/
}

.vertical-align-middle {
	vertical-align: middle;
	vertical-align: -moz-middle-with-baseline;
	margin-bottom: -5px;
}

.form-border {
	/*border: 3px solid #FA0D8F;*/
	border: 3px solid #3742B5;
	padding: 1%;

	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 9px;
	border-radius: 5px;
	border-top-right-radius: 9px;

	background: #EDEBEB;
}

.nested-fields-border {
	border: 3px solid #3742B5;
	padding: 1%;

	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 9px;
	border-radius: 5px;
	border-top-right-radius: 9px;

	margin-bottom: 5px;
	background: #EDEBEB;

}

.delete-btn {
	margin: 15px 0px 0px 0px;
}

.add-btn {
	margin: -15px 0 0 15px;
}

.border-around {
	border: 3px solid black;
	padding: 1%;

	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 9px;
	border-radius: 5px;
	border-top-right-radius: 9px;
}

td {
	font-size: smaller
}