<%= form_for [:admin,@user], :html => {:class => "form-horizontal"} do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-border">
	<div class="row">
		<div class="col-sm-4 right-align">
			<div class="field">
				<%= f.label :username, 'Uživatelské jméno' %>
				<%= f.text_field :username, :autofocus => true %>  
			</div>
		</div>

		<div class="col-sm-6 right-align">    
			<div class="field">
				<%= f.label :email, 'Email' %>
				<%= f.email_field :email %>  
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 right-align">
			<div class="field">
				<%= f.label :password, 'Heslo' %>
				<%= f.password_field :password %>
			</div>
		</div>

		<div class="col-sm-6 right-align">
			<div class="field">
				<%= f.label :password_confirmation, 'Heslo znovu' %>
				<%= f.password_field :password_confirmation %>
			</div>
		</div>
	</div>

	<br>

	<div class="form-border">
		<%= f.fields_for :osoba do |o| %>
		<div class="row">
			<div class="col-sm-4 right-align">
				<div class="field">
					<%= o.label :jmeno, 'jméno' %>
					<%= o.text_field :jmeno%> 
				</div>
			</div>
			<div class="col-sm-4 right-align">
				<div class="field">
					<%= o.label :prijmeni, 'příjmení' %>
					<%= o.text_field :prijmeni %>
				</div>
			</div>
			<div class="col-md-4 right-align">
				<div class="field">
					<%= o.label :telefon, 'telefon' %>
					<%= o.text_field :telefon %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 right-align">
				<div class="field">
					<%= o.label :ulice, 'ulice' %>
					<%= o.text_field :ulice %>
				</div>
			</div>
			<div class="col-md-4 right-align">
				<div class="field">
					<%= o.label :cislo_popisne, 'číslo popisné' %>
					<%= o.text_field :cislo_popisne %>
				</div>
			</div>
			<div class="col-md-4 right-align">
				<div class="field">
					<%= o.label :cislo_orientacni, 'číslo orientační' %>
					<%= o.text_field :cislo_orientacni %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 right-align">
				<div class="field">
					<%= o.label :psc, 'PSČ' %>
					<%= o.text_field :psc %>
				</div>
			</div>
			<div class="col-md-4 right-align">
				<div class="field">
					<%= o.label :mesto, 'město' %>
					<%= o.text_field :mesto %>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="form-border">
		<%= o.fields_for :klient do |k| %>
		<div class="row">
			<div class="col-sm-4 right-align">
				<div class="field">
					<%= k.label :rodne_cislo, 'rodné číslo' %>
					<%= k.text_field :rodne_cislo %>
				</div>
			</div>
			<div class="col-md-4 right-align">
				<div class="field">
					<%= k.label :pojistovna, 'číslo pojišťovny' %>
					<%= k.text_field :pojistovna %>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="field">
					<div class="col-md-2 right-align">
						<%= k.label :diagnoza, 'diagnóza' %>
					</div>
					<div class="col-md-10">
						<%= k.text_field :diagnoza, :class=>'col-md-12' %>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-12">
				<div class="field">
					<div class="col-md-2 right-align">
						<%= k.label :popis_projevu_diagnozy_a_instrukce_k_zachazeni_s_klientem, 'popis projevů diagnózy a instrukce k zacházení s klientem' %>
					</div>
					<div class="col-md-10">
						<%= k.text_area :popis_projevu_diagnozy_a_instrukce_k_zachazeni_s_klientem, :rows => 10, :class=>'col-md-12' %>
					</div>
				</div>
			</div>
		</div>
		<br>

		<% if current_user.admin? %>
		<div class="row">
			<div class="col-md-12">
				<div class="field">
					<div class="col-md-2 right-align">
						<%= k.label :postrehy_ramus, 'postřehy ramusáků' %>
					</div>
					<div class="col-md-10">
						<%= k.text_area :postrehy_ramus, :class=>'col-md-12' %>
					</div>
				</div>
			</div>
		</div>
		<br>
		<% end %>

		<div class="row">
			<div class="col-md-12">
				<div class="field">
					<div class="col-md-2 right-align">
						<%= k.label :denni_rezim, 'denní režim' %>
					</div>
					<div class="col-md-10">
						<%= k.text_area :denni_rezim, :class=>'col-md-12' %>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-12">
				<div class="field">
					<div class="col-md-2 right-align">
						<%= k.label :podoba_epileptickeho_zachvatu, 'podoba epileptického záchvatu' %>
					</div>
					<div class="col-md-10">
						<%= k.text_area :podoba_epileptickeho_zachvatu, :rows => 5, :class=>'col-md-12' %>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-12">
				<div class="field">
					<div class="col-md-2 right-align">
						<%= k.label :alergie, 'alergie' %>
					</div>
					<div class="col-md-10"> 
						<%= k.text_area :alergie, :class=>'col-md-12' %>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-2 col-md-offset-3">
				<div class="field">
					<%= k.label :vozickar, 'vozíčkář?' %>
					<br>
					<%= k.check_box :vozickar %>
				</div>
			</div>
			<div class="col-md-2">
				<div class="field">
					<%= k.label :epilepsie, 'epileptik?' %>
					<br>
					<%= k.check_box :epilepsie%>
				</div>
			</div>
			<div class="col-md-2">
				<div class="field">
					<%= k.label :inkontinence, 'inkontinentní?' %>
					<br>
					<%= k.check_box :inkontinence %>
				</div>
			</div>

			<div class="col-md-2">
				<div class="field">
					<%= k.label :prukaz, 'typ průkazu' %>
					<br>
					<%= k.select :prukaz, options_for_select(['žádný','ZTP','ZTP/P'],@user.osoba.klient.prukaz) %>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="form-border">
		<%= k.fields_for :zajem_o_informace do |z| %>
		<div class="row">
			<div class="col-md-2 ">
				<div class="field">
					<%= z.label :jemne_vikendovky, 'jemné víkendovky' %><br>
					<%= z.check_box :jemne_vikendovky %>
				</div>
			</div>
			<div class="col-md-2 ">
				<div class="field">
					<%= z.label :drsne_vikendovky, 'drsné víkendovky' %><br>
					<%= z.check_box :drsne_vikendovky %>
				</div>
			</div>
			<div class="col-md-2 ">
				<div class="field">
					<%= z.label :legendarni_tabory, 'legendární tábory' %><br>
					<%= z.check_box :legendarni_tabory %>
				</div>
			</div>
			<div class="col-sm-2 ">
				<div class="field">
					<%= z.label :humr, 'humr' %><br>
					<%= z.check_box :humr %>
				</div>
			</div>
			<div class="col-sm-2 ">
				<div class="field">
					<%= z.label :rambar, 'rambar' %><br>
					<%= z.check_box :rambar %>
				</div>
			</div>
			<div class="col-sm-2 ">
				<div class="field">
					<%= z.label :dilna, 'dílna' %><br>
					<%= z.check_box :dilna %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

<% end %>
<% end %>


<br>
<div class="col-sm-6">
	<div class="actions">
		<%= f.submit "Uložit uživatele", class: "btn btn-primary" %> - <%= link_to "zrušit", root_path %>
	</div>
</div>
<% end %>