<%= form_for @klient, :html => {:class => "form-horizontal"} do |f| %>
<% if @klient.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@klient.errors.count, "error") %> prohibited this klient from being saved:</h2>

  <ul>
    <% @klient.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row form-border">
  <div class="col-md-3">
    <div class="field">
      <%= f.label :rodne_cislo, 'rodné číslo' %>
      <br>
      <%= f.text_field :rodne_cislo, :class=>'col-md-12' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label :pojistovna, 'číslo pojišťovny' %>
      <br>
      <%= f.text_field :pojistovna, :class=>'col-md-12' %>
    </div>
  </div>

  <%= f.fields_for :osoba do |osobaf| %>
  <div class="col-md-3">
    <div class="field">
      <%= osobaf.label :email, 'email' %>
      <br>
      <%= osobaf.text_field :email, :class=>'col-md-12' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= osobaf.label :telefon, 'telefon' %>
      <br>
      <%= osobaf.text_field :telefon, :class=>'col-md-12' %>
    </div>
  </div>
</div>

<br><h3>::adresa</h3>

<div class="row form-border">
  <div class="col-md-3">
    <div class="field">
      <%= osobaf.label :ulice, 'ulice' %>
      <br>
      <%= osobaf.text_field :ulice, :class=>'col-md-12' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="field">
      <%= osobaf.label :cislo_popisne, 'číslo popisné' %>
      <br>
      <%= osobaf.text_field :cislo_popisne %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="field">
      <%= osobaf.label :cislo_orientacni, 'číslo orientační' %>
      <br>
      <%= osobaf.text_field :cislo_orientacni %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="field">
      <%= osobaf.label :psc, 'PSČ' %>
      <br>
      <%= osobaf.text_field :psc %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= osobaf.label :mesto, 'město' %>
      <br>
      <%= osobaf.text_field :mesto,:class=>'col-md-12' %>
    </div>
  </div>
</div>


<% end %>

<br><h3>::kontaktní osoby</h3>
<div class="row form-border">
  <%= f.fields_for :kontaktni_osobas do |ko| %>

  <%= render 'kontaktni_osoba_fields', :f => ko %>

  <% end %>

  <div class="links">
    <br>
    <%= link_to_add_association 'přidat další kontaktní osobu', f, :kontaktni_osobas, :class => "btn btn-primary add-btn" %>
  </div>
</div>

<br><h3>::podrobnosti</h3>
<div class="row form-border">

  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <div class="col-md-2 right-align">
          <%= f.label :diagnoza, '- diagnóza' %>
        </div>
        <div class="col-md-10">
          <%= f.text_field :diagnoza, :class=>'col-md-6' %>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <div class="col-md-2 right-align">
          <%= f.label :popis_projevu_diagnozy_a_instrukce_k_zachazeni_s_klientem, '- popis projevů diagnózy a instrukce k zacházení s klientem' %>
        </div>
        <div class="col-md-10">
          <%= f.text_area :popis_projevu_diagnozy_a_instrukce_k_zachazeni_s_klientem, :rows => 10 %>
        </div>
      </div>
    </div>
  </div>
  <br>

  <% if current_user.admin? %>
  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <div class="col-md-2 right-align">
          <%= f.label :postrehy_ramus, '- postřehy ramusáků' %>
        </div>
        <div class="col-md-10">
          <%= f.text_area :postrehy_ramus %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <div class="col-md-2 right-align">
          <%= f.label :denni_rezim, '- denní režim' %>
        </div>
        <div class="col-md-10">
          <%= f.text_area :denni_rezim %>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <div class="col-md-2 right-align">
          <%= f.label :podoba_epileptickeho_zachvatu, '- podoba epileptického záchvatu' %>
        </div>
        <div class="col-md-10">
          <%= f.text_area :podoba_epileptickeho_zachvatu, :rows => 5 %>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <div class="col-md-2 right-align">
          <%= f.label :alergie, '- alergie' %>
        </div>
        <div class="col-md-10"> 
          <%= f.text_area :alergie %>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <div class="field">
        <%= f.label :vozickar, 'vozíčkář?' %>
        <br>
        <%= f.check_box :vozickar %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.label :epilepsie, 'epileptik?' %>
        <br>
        <%= f.check_box :epilepsie%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.label :inkontinence, 'inkontinentní?' %>
        <br>
        <%= f.check_box :inkontinence %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="field">
        <%= f.label :prukaz, 'typ průkazu' %>
        <br>
        <%= f.select :prukaz, options_for_select(['žádný','ZTP','ZTP/P'],@klient.prukaz) %>
      </div>
    </div>
  </div>
</div>


<br><h3>::léky</h3>
<div class="row form-border">
  <%= f.fields_for :leks do |l| %>
  <%= render 'lek_fields', :f => l %>
  <% end %>
  <div class="links">
    <br>
    <%= link_to_add_association 'zadat další lék', f, :leks, :class => "btn btn-primary add-btn" %>
  </div>
</div>


<br><h3>::zájem o infomaily</h3>
<div class="row form-border">
  <%= f.fields_for :zajem_o_informace do |z| %>
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= z.check_box :jemne_vikendovky %>
        <%= z.label :jemne_vikendovky, 'víkendovky jemné' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= z.check_box :drsne_vikendovky %>
        <%= z.label :drsne_vikendovky, 'víkendovky drsné' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= z.check_box :legendarni_tabory %>
        <%= z.label :legendarni_tabory, 'tábory legendární' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= z.check_box :drsne_tabory %>
        <%= z.label :drsne_tabory, 'tábory drsné' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= z.check_box :rambar %>
        <%= z.label :rambar, 'rambar' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= z.check_box :dilna %>
        <%= z.label :dilna, 'dílna' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= z.check_box :humr %>
        <%= z.label :humr, 'humr' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<br><br><br><br>

<h3>::souhlas s uchováním údajů / použitím fotografií</h3>

<div class="row">
  <div class="col-md-12">
    <div class="field">
      <div class="col-md-1 right-align">
        <%= f.check_box :elektronicky_souhlas_s_uchovanim_udaju %>
      </div>
      <div class="col-md-11">
        <%= f.label :elektronicky_souhlas_s_uchovanim_udaju, 'Souhlasím s uchováním osobních údajů v databázi občanského sdružení Ramus, která slouží pouze pro potřeby sdružení a nebude bez výslovného souhlasu subjektu nebo jeho zákonného zástupce poskytnuta třetím osobám. Údaje budou v databázi uchovány, dokud subjekt údajů nepožádá o jejich odstranění nebo do zániku občanského sdružení Ramus. Občanské sdružení Ramus tyto údaje uchovává za účelem dodržení povinností a práv vznikajících při činnosti o.s. Ramus podle jeho platných stanov. O.s. Ramus na požádání subjektu nebo jeho zákonného zástupce vydá informace o zpracování jeho údajů a dodá vysvětlení při nejasnostech, případně sjedná nápravu podle §21 zákona 101/2000 Sb..' %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="field">
      <div class="col-md-1 right-align">
        <%= f.check_box :souhlas_s_uverejnenim_foto_video %>
      </div>
      <div class="col-md-11">
        <%= f.label :souhlas_s_uverejnenim_foto_video, 'Souhlasím s uveřejněním fotografií a audiovizuálních záznamů výše jmenovaného občanským sdružením Ramus na internetu, v tištěné podobě, v médiích a na veřejných akcích za účelem propagace a naplnění cílů občanského sdružení Ramus.' %>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="col-md-offset-5">
  <div class="actions">
    <%= f.submit 'ULOŽIT', :class => 'btn btn-lg btn-success col-md-4' %>
  </div>
</div>
<% end %>
