<div class="nested-fields nested-fields-border">

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <div class="col-md-5">
          <h4 class="right-align"><%= f.label :vztah_ke_klientovi, 'Vztah ke klientovi', :class => 'vertical-align-middle' %>
          </h4>
        </div>
        <div class="col-md-3">
          <%= f.text_field :vztah_ke_klientovi, :style => "font-size:large; font-weight:bold" %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :jmeno, 'jméno' %>
        <br>
        <%= f.text_field :jmeno, :class=>'col-md-12' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :prijmeni, 'příjmení' %>
        <br>
        <%= f.text_field :prijmeni, :class=>'col-md-12' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :email, 'email' %>
        <br>
        <%= f.text_field :email, :class=>'col-md-12' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :telefon, 'telefon' %>
        <br>
        <%= f.text_field :telefon, :class=>'col-md-12' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :ulice, 'ulice' %>
        <br>
        <%= f.text_field :ulice, :class=>'col-md-12' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.label :cislo_popisne, 'číslo popisné' %>
        <br>
        <%= f.text_field :cislo_popisne, :class=>'col-md-12' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.label :cislo_orientacni, 'číslo orientační' %><br>
        <%= f.text_field :cislo_orientacni, :class=>'col-md-12' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field">
        <%= f.label :psc, 'PSČ' %><br>
        <%= f.text_field :psc, :class=>'col-md-12' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :mesto, 'město' %><br>
        <%= f.text_field :mesto, :class=>'col-md-12' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-0"><%= link_to_remove_association "smazat tuto kontaktní osobu", f,
    confirm: 'Opravdu chcete smazat záznam této kontaktní osoby?', :class => 'btn btn-danger delete-btn' %>
   </div>
 </div>
</div>