<div class="nested-fields nested-fields-border">

  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :nazev, 'jméno léku' %>
        <br>
        <%= f.text_field :nazev, :class => 'col-md-12' %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="field">
        <%= f.label :davkovani, 'dávkování (schématicky nebo slovně)' %>
        <br>
        <%= f.text_field :davkovani, :class => 'col-md-12' %>
      </div>
    </div>
  </div>

  <div class="md-col-1"><%= link_to_remove_association "smazat tento lék", f,
   confirm: 'Opravdu chcete smazat záznam tohoto léku?', :class => 'btn btn-danger delete-btn'  %>
 </div>
</div>