<h1>administrace evidenčních listů</h1>

<table id='datatable' class='row-border stripe'>
	<thead>  
		<tr>
			<th>Jméno</th>
			<th>Příjmení</th>
			<th>Aktualizováno</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @klients.each do |klient| %>
		<tr>
			<td><%= klient.osoba.jmeno %></td>
			<td><%= klient.osoba.prijmeni %></td>
			<td><%= klient.updated_at.strftime('%d.%m.%Y') %></td>
			<td><%= link_to "Výpis", klient_path(klient) %></td>
			<td><%= link_to "Upravit", edit_klient_path(klient) %></td>
			<td><%= link_to "Smazat", klient, method: :delete, data: { confirm: "Chceš to fakt smazat?" } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Nový klient", new_admin_user_path, :class => 'btn btn-primary' %>
<%= link_to 'Historie změn', histories_path, :class => 'btn btn-default' %>