<div class="row">
  <div class="col-md-8">
    <h1>
      <%= @klient.osoba.jmeno+' '+@klient.osoba.prijmeni %>
    </h1>
  </div>
  <div class="col-md-4">
    <h5 class='right-align'>
      <%= @klient.updated_at.strftime('naposledy aktualizováno %d.%m.%Y') %>
    </h5>
  </div>
</div>

<div class="row border-around">
  <div class="row">
    <div class="col-md-6">
      <strong>Adresa:</strong>
      <%= @adresa %>
    </div>
    <div class="col-md-3">  
      <strong>Telefon:</strong>
      <%= @klient.osoba.telefon %>
    </div>
    <div class="col-md-3">
      <strong>Email:</strong>
      <%= @klient.osoba.email %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3">
      <strong>Rodné číslo:</strong>
      <%= @klient.rodne_cislo %>
    </div>
    <div class="col-md-3">  
      <strong>Číslo pojišťovny:</strong>
      <%= @klient.pojistovna %>
    </div>
    <div class="col-md-3">
      <strong>Druh průkazu ZTP:</strong>
      <%= @klient.prukaz %>
    </div>
    <div class="col-md-3">
      <strong>Plnoletost:</strong>
      <%= @plnoletost %>
    </div>
  </div>
</div>

<br>

<div class="row border-around">
  <div class="col-md-12">
    <p>
      <strong>Kontaktní osoby:</strong><br>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <% @klient.kontaktni_osobas.each do |ko| %>
          <u><%= ko.vztah_ke_klientovi %></u>:
          <%= ko.jmeno %>
          <%= ko.prijmeni %>,
          <%= ko.email %>,
          <%= ko.telefon %>
          <br>
          <% end %>
        </div>
      </div>
    </p> 
  </div>
</div>

<br>

<div class="row border-around">
  <div class="row">
    <div class='col-md-5'>
      <strong>Diagnóza:</strong>
      <%= @klient.diagnoza %>
    </div>
    <div class="col-md-2">
      <strong>Vozíčkář:</strong>
      <%= @vozickar %>
    </div>
    <div class="col-md-2">
      <strong>Epilepsie:</strong>
      <%= @epilepsie %>
    </div>
    <div class="col-md-3">
      <strong>Inkontinence:</strong>
      <%= @inkontinence %>
    </div>
  </div>

  <br> 

  <div class="row">
    <div class="col-md-12">
      <strong>Alergie:</strong>
      <%= @klient.alergie %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <strong>Popis projevů diagnózy a instrukce k zacházení s klientem:</strong><br>
      <%= @klient.popis_projevu_diagnozy_a_instrukce_k_zachazeni_s_klientem %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <% if @klient.epilepsie %>
      <strong>Podoba epileptického záchvatu:</strong><br>
      <%= @klient.podoba_epileptickeho_zachvatu %>
      <% end %>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col-md-12">
      <strong>Podrobnosti k dennímu režimu:</strong><br>
      <%= @klient.denni_rezim %>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col-md-12">
      <strong>Poznámky ramusáků:</strong><br>
      <%= @klient.postrehy_ramus %>
    </div>
  </div>
</div>

<br>

<div class="row border-around">
  <div class="col-md-12">
    <p>
      <strong>Léky:</strong><br>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <% @klient.leks.each do |ko| %>
          <u><%= ko.nazev %></u>:
          <%= ko.davkovani %>
          <br>
          <% end %>
        </div>
      </div>
    </p> 
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <strong>Souhlas s uchováním osobních údajů:</strong>
    <%= @elektronicky_souhlas_s_uchovanim_udaju %>
  </div>
  <div class="col-md-5">
    <strong>Souhlas s uveřejňováním audioviz. materiálů:</strong>
    <%= @souhlas_s_uverejnenim_foto_video %>
  </div>
  <div class="col-md-3">
    <strong>Platný záznam:</strong>
    <%= @platny_zaznam %>
  </div>
</div>