<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; Ramus IT sekce
          <br/>
          <%= link_to "Ramus.je", "http://www.ramus.je" %>
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>